# How to verify ?

![image-20250708210153598](SystemVerilog_for_Verification.assets/image-20250708210153598.png)

# Why System Verilog for Verification?

![image-20250708210309285](SystemVerilog_for_Verification.assets/image-20250708210309285.png)

# System Verilog Features

![image-20250708210410156](SystemVerilog_for_Verification.assets/image-20250708210410156.png)